@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {
  --color-bg-dark: #1e1e1e;
  --color-main-gold: #FFD700;
  --font-poppins: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
